<mat-toolbar>
    <a mat-button [routerLink]="'tasks'"
        >Tasks
        <mat-icon *ngIf="(getStatus('tasks') | async) === 'ok'">checkmark</mat-icon>
        <mat-icon *ngIf="(getStatus('tasks') | async) === 'warning'">warning</mat-icon>
        <mat-icon *ngIf="(getStatus('tasks') | async) === 'error'">error</mat-icon>
    </a>

    <a mat-button [routerLink]="'selectable-persons'" [disabled]="haveErrors(['tasks']) | async"
        >Person Pool
        <mat-icon *ngIf="(getStatus('selectable-persons') | async) === 'ok'">checkmark</mat-icon>
        <mat-icon *ngIf="(getStatus('selectable-persons') | async) === 'warning'">warning</mat-icon>
        <mat-icon *ngIf="(getStatus('selectable-persons') | async) === 'error'">error</mat-icon>
    </a>

    <a
        mat-button
        [routerLink]="'dates'"
        [disabled]="haveErrors(['tasks', 'selectable-persons']) | async"
        >Dates
        <mat-icon *ngIf="(getStatus('dates') | async) === 'ok'">checkmark</mat-icon>
        <mat-icon *ngIf="(getStatus('dates') | async) === 'warning'">warning</mat-icon>
        <mat-icon *ngIf="(getStatus('dates') | async) === 'error'">error</mat-icon>
    </a>

    <a
        mat-button
        [routerLink]="'min-max-constraints'"
        [disabled]="haveErrors(['tasks', 'selectable-persons', 'dates']) | async"
        >Min-Max Constraints
        <mat-icon *ngIf="(getStatus('min-max-constraints') | async) === 'ok'">checkmark</mat-icon>
        <mat-icon *ngIf="(getStatus('min-max-constraints') | async) === 'warning'"
            >warning</mat-icon
        >
        <mat-icon *ngIf="(getStatus('min-max-constraints') | async) === 'error'">error</mat-icon>
    </a>

    <a
        mat-button
        [routerLink]="'time-constraints'"
        [disabled]="
            haveErrors(['tasks', 'selectable-persons', 'dates', 'min-max-constraints']) | async
        "
        >Time Constraints
        <mat-icon *ngIf="(getStatus('timeconstraints') | async) === 'ok'">checkmark</mat-icon>
        <mat-icon *ngIf="(getStatus('timeconstraints') | async) === 'warning'">warning</mat-icon>
        <mat-icon *ngIf="(getStatus('timeconstraints') | async) === 'error'">error</mat-icon>
    </a>
    <a mat-button [routerLink]="'statistics'"
        >Statistics
        <mat-icon *ngIf="(getStatus('statistics') | async) === 'ok'">checkmark</mat-icon>
        <mat-icon *ngIf="(getStatus('statistics') | async) === 'warning'">warning</mat-icon>
        <mat-icon *ngIf="(getStatus('statistics') | async) === 'error'">error</mat-icon>
    </a>
    <a mat-button [routerLink]="'run-algorithm'">Run Optimization</a>
    <a mat-button [routerLink]="'solutions'">Solutions</a>
</mat-toolbar>

<router-outlet></router-outlet>
