<mat-toolbar>
  <a mat-button [routerLink]="'tasks'"
    >Tasks
    @if ((getStatus('tasks') | async) === 'ok') {
      <mat-icon>checkmark</mat-icon>
    }
    @if ((getStatus('tasks') | async) === 'warning') {
      <mat-icon>warning</mat-icon>
    }
    @if ((getStatus('tasks') | async) === 'error') {
      <mat-icon>error</mat-icon>
    }
  </a>

  <a mat-button [routerLink]="'selectable-persons'" [disabled]="haveErrors(['tasks']) | async"
    >Person Pool
    @if ((getStatus('selectable-persons') | async) === 'ok') {
      <mat-icon>checkmark</mat-icon>
    }
    @if ((getStatus('selectable-persons') | async) === 'warning') {
      <mat-icon>warning</mat-icon>
    }
    @if ((getStatus('selectable-persons') | async) === 'error') {
      <mat-icon>error</mat-icon>
    }
  </a>

  <a
    mat-button
    [routerLink]="'dates'"
    [disabled]="haveErrors(['tasks', 'selectable-persons']) | async"
    >Dates
    @if ((getStatus('dates') | async) === 'ok') {
      <mat-icon>checkmark</mat-icon>
    }
    @if ((getStatus('dates') | async) === 'warning') {
      <mat-icon>warning</mat-icon>
    }
    @if ((getStatus('dates') | async) === 'error') {
      <mat-icon>error</mat-icon>
    }
  </a>

  @if (internEndpoint) {
    <a
      mat-button
      [routerLink]="'internimport'"
      [disabled]="haveErrors(['tasks', 'selectable-persons', 'dates']) | async"
      >Import from Intern
    </a>
  }

  <a
    mat-button
    [routerLink]="'min-max-constraints'"
    [disabled]="haveErrors(['tasks', 'selectable-persons', 'dates']) | async"
    >Min-Max Constraints
    @if ((getStatus('min-max-constraints') | async) === 'ok') {
      <mat-icon>checkmark</mat-icon>
    }
    @if ((getStatus('min-max-constraints') | async) === 'warning') {
      <mat-icon
        >warning</mat-icon
        >
      }
      @if ((getStatus('min-max-constraints') | async) === 'error') {
        <mat-icon>error</mat-icon>
      }
    </a>

    <a
      mat-button
      [routerLink]="'time-constraints'"
        [disabled]="
            haveErrors(['tasks', 'selectable-persons', 'dates', 'min-max-constraints']) | async
        "
      >Time Constraints
      @if ((getStatus('timeconstraints') | async) === 'ok') {
        <mat-icon>checkmark</mat-icon>
      }
      @if ((getStatus('timeconstraints') | async) === 'warning') {
        <mat-icon>warning</mat-icon>
      }
      @if ((getStatus('timeconstraints') | async) === 'error') {
        <mat-icon>error</mat-icon>
      }
    </a>

    <a
      mat-button
      [routerLink]="'adjacent-task-constraints'"
        [disabled]="
            haveErrors(['tasks', 'selectable-persons', 'dates', 'min-max-constraints']) | async
        "
      >Task Combination Constraints
      @if ((getStatus('adjacent-task-constraints') | async) === 'ok') {
        <mat-icon
          >checkmark</mat-icon
          >
        }
        @if ((getStatus('adjacent-task-constraints') | async) === 'warning') {
          <mat-icon
            >warning</mat-icon
            >
          }
          @if ((getStatus('adjacent-task-constraints') | async) === 'error') {
            <mat-icon
              >error</mat-icon
              >
            }
          </a>

          <a mat-button [routerLink]="'statistics'"
            >Statistics
            @if ((getStatus('statistics') | async) === 'ok') {
              <mat-icon>checkmark</mat-icon>
            }
            @if ((getStatus('statistics') | async) === 'warning') {
              <mat-icon>warning</mat-icon>
            }
            @if ((getStatus('statistics') | async) === 'error') {
              <mat-icon>error</mat-icon>
            }
          </a>
          <a mat-button [routerLink]="'run-algorithm'">Run Optimization</a>
          <a mat-button [routerLink]="'solutions'">Solutions</a>
        </mat-toolbar>

        <router-outlet></router-outlet>
