<div>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>

<table class="mat-table">
    <tr class="mat-header-row">
        <th class="mat-header-cell">Person</th>
        <th class="mat-header-cell">Task</th>
        <th class="mat-header-cell">Negated</th>
        <th class="mat-header-cell">From</th>
        <th class="mat-header-cell">Until</th>
        <th class="mat-header-cell">Penalty</th>
    </tr>

    <tr *ngFor="let t of (constraints$ | async).time_constraints; let i = index" class="mat-row">
        <td class="mat-cell">
            <mat-form-field>
                <mat-label>Person</mat-label>
                <mat-select [(value)]="t.person">
                    <mat-option *ngFor="let person of persons$ | async" [value]="person.name">
                        {{ person.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </td>

        <td class="mat-cell">
            <mat-form-field>
                <mat-label>Task</mat-label>
                <mat-select [(value)]="t.task">
                    <mat-option [value]="null">Allgemein</mat-option>
                    <mat-option *ngFor="let task of tasks$ | async" [value]="task">
                        {{ task }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </td>

        <td class="mat-cell">
            <mat-checkbox type="checkbox" [(ngModel)]="t.negated"></mat-checkbox>
        </td>

        <td class="mat-cell">
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker_i" [(ngModel)]="t.min_date" />
                <mat-datepicker-toggle matSuffix [for]="picker_i"></mat-datepicker-toggle>
                <mat-datepicker #picker_i></mat-datepicker>
            </mat-form-field>
        </td>

        <td class="mat-cell">
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker_to_i" [(ngModel)]="t.max_date" />
                <mat-datepicker-toggle matSuffix [for]="picker_to_i"></mat-datepicker-toggle>
                <mat-datepicker #picker_to_i></mat-datepicker>
            </mat-form-field>
        </td>

        <td class="mat-cell">
            <mat-form-field>
                <mat-label>Penalty</mat-label>
                <input matInput type="number" [(ngModel)]="t.penalty" placeholder="penalty" />
            </mat-form-field>
        </td>

        <td class="mat-cell">
            <app-really-delete (delete)="removeTimeConstraint(t)">Remove</app-really-delete>
        </td>
    </tr>
</table>

<button mat-raised-button color="primary" (click)="addTimeConstraint()">Add</button>
